{% include "menu.html" %}
<div style="float:right">
  {{ info }}
  <form enctype="multipart/form-data" action="{% url 'add' %}" method="post">
    {% csrf_token %}
    <p>
      <input type="file" name="picture" />
    </p>
    <p>
      <input type="submit" value="Dodaj" />
    </p>
  </form>
</div>
