{% include "menu.html" %}
<div style="float:right">
  {% for thumb1,thumb2,thumb3 in pics %}
  <a href="detail?pic_id={{ thumb1.pic.pk }}"><img src="{{ thumb3.image }}" /></a>
  <br /><br />
  {% endfor%}
</div>
