<div style="float:left">
  <ul>
    <li><a href="{% url 'index' %}">Strona Główna</a></li>
    <hr />
    <li><a href="{% url 'add' %}">Dodaj obrazek</a></li>
    <hr />
    <li><a href="{% url 'init_work' %}">Start</a></li>
    <hr />
    {% for job in jobs %}
    <li><a href="poll_state?job={{job.id}}">Poll worker status {{job.id}}</a></li>
    <hr />
    {%endfor%}
  </ul>
</div>
